.lead__image {
  display: block;
  width: 100%;
  object-fit: cover;
  padding-bottom: 8px;
  box-sizing: content-box;
}


@media screen and (max-width: 320px) {
  .lead__image {
    padding-bottom: 10px;
  }
}


@media screen and (min-width: 1280px) {
  .lead__image {
    max-width: 984px;
    height: 615px;
  }
}