.place__url-heading {
  color: #AAAAAA;
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  padding-bottom: 12px;
}

@media screen and (min-width: 1280px) {
  .place__url-heading {
    margin-bottom: 19px;
  }
}